@import "../fonts/fonts.css";

div.box {
    text-align:left;
    display: inline-block;
    width:100%;
    margin: 5px 0 0 0;
    padding: 10px;
    font-family: "NotoSerif";
}

div.container {
    text-align: center;
}


div.button {
    align-self: center;
    padding: 20px;
   }